<html>
    <head>
        <title>Community Events Board</title>
    </head>
    <body>
      <h1>Community Events Board</h1>
      <div class="event-list">
        <form method = "post" action = "/filter">
          <input type = "radio" name = "category" value = "school">school<br>
          <input type = "radio" name = "category" value = "personal">personal<br>
          <input type = "radio" name = "category" value = "work">work<br>
          <input type = "radio" name = "category" value = "service">service<br>
          <input type="submit" value="Submit">
      </div>

      </form>
    </body>
</html>
